@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #56026d;
}

.head {
    display: flex;
    width: max-content;
}

.title {
    box-sizing: border-box;
    width: 170px;
    border: 4px solid;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 0px;

    display: flex;
    justify-content: center;

    color: rgb(232, 217, 235);
    background-color: #3a0249;
    border-color: #8a03af;
    
    font-family: "Open Sans";
    font-weight: bold;

    user-select: none;
}

.board {
    display: flex;
}

.periodo {
    display: flex;
    flex-direction: column;
}

.disciplinas {
    /*space settings*/
    box-sizing: border-box;
    width: 170px;
    height: 120px;
    border-radius: 10px;
    border: 4px solid;
    margin: 20px;
    padding: 10px;

    /*display setting*/
    display: grid;
    align-items: center;
    justify-content: center;

    /*color settings*/
    color: white;
    background-color: black;
    border-color: #b300e4;

    /*Font settings*/
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    user-select: none;
}

.disciplinas.selecionada {
    background-color: #72b6dd;
}

.disciplinas.liberada {
    background-color: #7ed957;
}

.disciplinas.faltando {
    background-color: #8d0000;
}

.fio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: white;
    stroke-width: 2px;
}