@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;900&display=swap');

body {
    background-color: #43047a;
    color-scheme: dark;
}

.container {
    display: grid;
    overflow-x: auto;
}

.head {
    display: flex;
    width: max-content;
    gap: 1rem;
    margin: auto;
}

.board {
    display: flex;
    gap: 1rem;
    margin: 0.5rem auto;
}

.title {
    box-sizing: border-box;
    width: 8.6vw;
    max-width: 160px;
    min-width: 110px;
    border: 4px solid;
    border-radius: 10px;
    margin: 1rem auto;

    display: flex;
    justify-content: center;

    color: rgb(232, 217, 235);
    background-color: #2e0354;
    border-color: #54039c;

    font-family: "Open Sans";
    font-weight: bolder;
    font-size: clamp(0.5vw, 1rem, 1vw);

    user-select: none;
}

.periodo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.disciplinas {
    /*space settings*/
    box-sizing: border-box;
    width: 8.6vw;
    max-width: 160px;
    min-width: 110px;
    height: 6.5vw;
    max-height: 120px;
    min-height: 90px;
    border-radius: 10px;
    border: 4px solid;
    padding: 0.5rem;

    /*display setting*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*color settings*/
    color: white;
    background-color: black;
    border-color: #8800ff;

    /*Font settings*/
    font-family: "Open Sans";
    font-weight: bolder;
    text-align: center;
    font-size: clamp(0.5vw, 1rem, 0.8vw);

    cursor: pointer;
    user-select: none;
}

.disciplinas.selecionada {
    background-color: #88c0e1;
}

.disciplinas.liberada {
    background-color: #9ae57b;
}

.disciplinas.faltando {
    background-color: #a01313;
}

@media(max-width: 600px) {
    .disciplinas {
        width: 28vw;
        min-width: 110px;
        max-width: 146px;
        height: 21vw;
        min-height: 100px;
        max-height: 112px;
        font-size: clamp(0.7rem, 2.5vw, 1rem);
    }

    .title {
        width: 28vw;
        min-width: 110px;
        max-width: 146px;
        font-size: clamp(0.7rem, 2.5vw, 1rem);
    }
}